<div [@routerTransition]>
  <app-page-header [heading]="'Settings'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col col-xl-6 col-lg-12">
      <div class="alert alert-success" *ngIf="success != '' ">
        <strong>Well done!</strong>
        {{success}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <fieldset>
          <div class="form-group"  [ngClass]="{
            'has-danger': password.invalid  && (password.dirty || password.touched),
            'has-success': password.valid  && (password.dirty || password.touched)
          }">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required ngModel pattern="[a-zA-Z0-9]+" minlength="6" maxlength="10"
              #password="ngModel">
            <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
              <p *ngIf="password.errors.required">First name is required</p>
              <p *ngIf="password.errors.minlength && password.touched">Min length : 6 characters</p>
              <p *ngIf="password.errors.pattern">Only alphanumeric characters are allowed</p>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group" [ngClass]="{
              'has-danger': confirmPassword.value!==password.value && (confirmPassword.dirty || confirmPassword.touched),
              'has-success': confirmPassword.value===password.value && (confirmPassword.dirty || confirmPassword.touched)
            }">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" ngModel #confirmPassword="ngModel">
            <div class="form-control-feedback" *ngIf="confirmPassword.value!==password.value && (confirmPassword.dirty || confirmPassword.touched)">
              <p>password does not match!</p>
            </div>
          </div>
        </fieldset>
        <button type="submit" [disabled]="!f.valid || confirmPassword.value!==password.value" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>