<div [@routerTransition]>
  <app-page-header [heading]="'User'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
    <div class="col col-xl-6 col-lg-12">
      <form role="form">
        <fieldset class="form-group">
          <label>Username</label>
          <input class="form-control">
        </fieldset>
        <fieldset class="form-group">
          <label>Full Name</label>
          <input class="form-control">
        </fieldset>
        <fieldset class="form-group">
          <label>Mobile</label>
          <input class="form-control">
        </fieldset>
        <fieldset class="form-group">
          <label>Email</label>
          <input class="form-control">
        </fieldset>
        <div class="form-group">
          <label>Role</label>
          <div class="checkbox"  *ngFor="let role of roles">
            <label>
              <input type="checkbox" [value]="role"> {{role}}
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </form>
    </div>
  </div>
</div>

  <!-- <div class="form-group has-success">
                    <label class="form-control-label" for="inputSuccess">Input with success</label>
                    <input type="text" class="form-control form-control-success" id="inputSuccess">
                </div>

                <div class="form-group has-danger">
                    <label class="form-control-label" for="inputError">Input with danger</label>
                    <input type="text" class="form-control form-control-danger" id="inputError">
                </div> -->