<div [@routerTransition]>
  <app-page-header [heading]="'User'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
    <div class="col col-xl-6 col-lg-12">
      <div class="alert alert-success" *ngIf="success != '' ">
        <strong>Well done!</strong>
        {{success}}
      </div>

      <div class="alert alert-danger" *ngIf="!userForm.get('username').valid && userForm.get('username').touched">
          <strong>Oh snap!</strong> Please enter a valid username.
        </div>
        <div class="alert alert-danger" *ngIf="!userForm.get('mobile').valid && userForm.get('mobile').touched">
          <strong>Oh snap!</strong> Please enter a valid mobile.
        </div>
        <div class="alert alert-danger" *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
          <strong>Oh snap!</strong> Please enter a valid email.
        </div>
        <div class="alert alert-danger" *ngIf="userForm.get('role').value=='' && userForm.get('role').touched">
          <strong>Oh snap!</strong> Please enter a valid username.
        </div>
  
      </div>
   

    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <fieldset class="form-group">
        <label>Username</label>
        <input formControlName="username" class="form-control">
      </fieldset>
      <fieldset class="form-group">
        <label>Full Name</label>
        <input formControlName="fullname" class="form-control">
      </fieldset>
      <fieldset class="form-group">
        <label>Mobile</label>
        <input formControlName="mobile" class="form-control">
      </fieldset>
      <fieldset class="form-group">
        <label>Email</label>
        <input formControlName="email" class="form-control">
      </fieldset>
      <div class="form-group">
        <label>Role</label>
        <div class="radio" *ngFor="let role of roles">
          <label>
            <input formControlName="role" type="radio" [value]="role"> {{role}}
          </label>
        </div>
      </div>
      <button *ngIf="!editMode" type="submit" class="btn btn-primary">Save</button>
      <button *ngIf="editMode" type="submit" class="btn btn-primary">Update</button>
      <button type="reset" class="btn btn-warning">Reset</button>
      <button *ngIf="editMode" type="button" class="btn btn-info">Generate Password</button>
    </form>
  </div>



<!-- 

<div class="alert alert-danger" *ngIf="!userForm.valid && userForm.touched">
    <ul>
      <li *ngIf="!userForm.get('username').valid && userForm.get('username').touched">
        <strong>Oh snap!</strong> Please enter a valid username.
      </li>
      <li *ngIf="!userForm.get('fullname').valid && userForm.get('fullname').touched">
        <strong>Oh snap!</strong> Please enter a valid fullname.
      </li>
      <li *ngIf="!userForm.get('mobile').valid && userForm.get('mobile').touched">
        <strong>Oh snap!</strong> Please enter a valid mobile.
      </li>
      <li *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
        <strong>Oh snap!</strong> Please enter a valid email.
      </li>

    </ul>
  </div> -->