<div [@routerTransition]>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Terminal Name
                </div>
                <div class="card-block">
                  status : 
                <switch 
                  [onText]="onText" 
                  [offText]="offText" 
                  [onColor]="onColor" 
                  [offColor]="offColor" 
                  [size]="size"
                  (statusChange)="onFlagChange($event)"></switch>
                    <p>Last Updated Time : 20 Nov, 2017</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Device Name</th>
                            <th>Device Status</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Terminal Name
                </div>
                <div class="card-block">
                  Status : &nbsp;&nbsp;
                <switch 
                  [status]="value"
                  [onText]="onText" 
                  [offText]="offText" 
                  [onColor]="onColor" 
                  [offColor]="offColor" 
                  [size]="size"
                  (statusChange)="onFlagChange($event)"></switch>
                    <p>Last Updated Time : 20 Nov, 2017</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Device Name</th>
                            <th>Device Status</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Terminal Name
                </div>
                <div class="card-block">
                  status : 
                <switch 
                  [onText]="onText" 
                  [offText]="offText" 
                  [onColor]="onColor" 
                  [offColor]="offColor" 
                  [size]="size"
                  [disabled]="disabled"
                  (statusChange)="onFlagChange($event)"></switch>
                    <p>Last Updated Time : 20 Nov, 2017</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Device Name</th>
                            <th>Device Status</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Terminal Name
                </div>
                <div class="card-block">
                  status : 
                <switch 
                  [onText]="onText" 
                  [offText]="offText" 
                  [onColor]="onColor" 
                  [offColor]="offColor" 
                  [size]="size"
                  (statusChange)="onFlagChange($event)"></switch>
                    <p>Last Updated Time : 20 Nov, 2017</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Device Name</th>
                            <th>Device Status</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
