<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="form-group input-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" (click)="clearSearch()" type="button">
                        <i class="fa fa-remove"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col col-sm-6 ">
            <div class="form-group input-group">
                <button type="button" routerLink="new" class="btn btn-primary">New User</button>
            </div>
        </div>
        <div class="col col-xl-12 col-lg-12" *ngIf="display; else noUsers">
            <div class="card-block table-responsive">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>User Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | filter:searchTerm">
                            <th scope="row">{{user.userId}}</th>
                            <td>{{user.username}}</td>
                            <td>{{user.fullname}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <p [ngClass]="user.status==='1' ?  'btn btn-sm btn-success' : 'btn btn-sm btn-danger'">{{user.status | status:2}}</p>
                            </td>
                            <td>
                                <button type="button" routerLink="{{user.userId}}/edit" class="btn btn-sm btn-info">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #noUsers>
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <strong>Oh snap!</strong> {{userErrorMessage}}
                </div>
            </div>
        </ng-template>
    </div>
</div>